@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'Cairo', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', 'Cairo', sans-serif;
  cursor: grab;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body, * {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

/* @media print override to isolate and print receipt beautifully */
@media print {
  html, body {
    background-color: #ffffff !important;
    color: #000000 !important;
    cursor: default !important;
  }
  body * {
    visibility: hidden;
  }
  #printable-receipt-card, #printable-receipt-card * {
    visibility: visible;
  }
  #printable-receipt-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100% !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
  }
}
